
body{
	text-align: center; /*Makes all text centered*/
	padding: 0;
	margin: 0;
	border: 0;
}

header {
	position: fixed; /*Keeps the Header while you scroll */
	top: 0px; /* I want the header to be stuck to the top */
	height: 50px; /* The height of the header */
	background: #595959; /* Color of background code */
	color: #ffffff; /* white */
	width: 100%; /* Spans over the whole page, even if you change screen size */
	z-index: 10; /* This causes the content to not go over the cover */
	font-family: Arial;
}
p{
	font-family: Garamond;
	color: hsl(30, 100%, 10%);
	font-size: 17em;
	
}

h1
{
   font-family: Garamond; /* Cool font */
   color:hsl(30, 100%, 10%); /* Hue(colour) Saturation(Amount of Gray in a given colour Lightness(Amount of white) */
   text-align: center; /*Centers text*/
   font-size: 48px; /*How big the letters are */
   margin-top: 75px;
}
h2
{
  font-family: Garamond;
  color:hsl(270, 100%, 10%);
  text-align: center;
}

h3
{
	font-family: Garamond;
	color:hsl(270, 100%, 10%);
	text-align: center;
}
img {
  border-radius: 100%; /* Makes my photo rounded*/
}

.nav{
	float: left;
	list-style: none;
}
.nav > li{ /* Orders for the list part of the class .nav */
	display: inline-block;
	padding: 0 25px; /* Gives space between nav bar words */
}
.nav > li > a{
	text-decoration: none; /* Navigations don't look like an ugly link anymore */
	color: white;
}

a {
    /*display: block;*/
    padding: 8px;
}

	
#banner { /* Specified ID's have to start with a #(Hashtag, Number sign, or Octothorpe(I can pull this one out when trying to be smart))*/
	width: 100%;
	height: 700px;
	position: fixed; /* Causes the banner to not move */
	top: 50px; /* How many pixels/room empty on top */
	background: url(1.jpg);
	background-size: cover;
	text-align: center; /* My name and job title will be aligned in the center */
}


#content {
	width: 100%;
	position: relative; /* The content is free to be moved around */
	top: 700px;
	background: #b3b3b3;
	height: 500px;
	position: center; 
	font-family: Garamond;	
	text-align: left; /* aligns the text next to my picture */
}
#content2 {
	width: 100%;
	position: relative; /* The content is free to be moved around */
	top: 680px;
	background: #b3b3b3;
	height: 500px;
	position: center; 
	font-family: Garamond;	
	text-align: none;
}
#content3 {
	width: 100%;
	position: relative; /* The content is free to be moved around */
	top: 650px;
	background: #b3b3b3;
	height: 300px;
	font-family: Garamond;	
	text-align: none;
}

#filler1{
	width: 100%;
	position: relative;
	top: 680px;
	background: url(3.jpg);
	height: 500px;
	position: center;
	font-family: Garamond;
	
}

#filler2{
	width: 100%;
	position: relative;
	top: 680px;
	background: url(3.jpg);
	height: 500px;
	position: center;
	font-family: Garamond;
}

#p1 {
	padding: 10px 13px; /* Makes the text fit better */
}
#p2{
	padding: 10px 100px; 
}
#aboutmepadding {
	padding: 5px 10px 0px 10px; /* Putting title where I want it */
} 

.border { /* Nice border around text and image */
  height: 450px; /* So everything fits */
  border: 2px solid white; /* width of the border, style and color */
  margin: 50px 50px; 
  padding: 10px 0px 0px 0px;
  width: 90%;
  border-radius: 20px; /* Creates a sleek edge */
}

form {
  margin: 0 auto;  /* Centers form */
  width: 400px; /* Size of it */
  padding: 1em; /* The outline of it. Em is the unit of a letter m, so it's fit compared to any page size */
  border: 1px solid #CCC;
  border-radius: 1em; /* trims the edges of white border*/
}

form div + div {
  margin-top: 1em; 
}

label {
  display: inline-block; /* To make sure that all labels have the same size and are properly aligned */
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;  /* To make sure that all text fields have the same font settings */
  width: 300px; 
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;  /* To give a little highlight on active elements */
}

textarea {
  vertical-align: top; /* Aligns Name,Email and Message with the corresponding box */
  height: 5em; /* To make the Message box bigger */
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 85px; /* same size as the label elements */
}

/* Mobile layout of page */
@media screen and (max-width: 992px) {
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0px;
	}

	li {
		margin-top: 5vh;
		padding: 0px;
	}
}

